<div id="videoUploader">
<span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
    <i class="glyphicon glyphicon-plus"></i>
    <span>Add files...</span>
    <form enctype="multipart/form-data" action="https://upload.wistia.com" method="post">
        <input id="fileupload" type="file" name="files">
    </form>

</span>

<!-- The global progress bar -->
<div id="progress" class="progress">
    <div class="progress-bar progress-bar-success"></div>
</div>

<div id="player" class="wistia_embed" style="height:349px;width:620px">&nbsp;</div>
{{$ctrl.message}}
</div>